* {
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
  /* background-color: #0e1b21; */
  overflow: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-weight: var(--font-weight-normal);
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',*/
  /*  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;*/
  font-family: -apple-system, Roboto !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f5f5f5 !important; */
  background-color: #0e1b21;
  /* background: linear-gradient(0deg, #8ecce9, #0e1b21 30%); */
  /* overflow-x: hidden; */
}
.container {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(3rem);
  scroll-snap-type: y mandatory;
}
.container::-webkit-scrollbar {
  width: 0; /* ширина scrollbar */
}

section {
  scroll-snap-align: start;
}
@font-face {
  font-family: 'Besom-2';
  src: url('Besom.eot');
  src: local('Besom by Krisjanis Mezulis / RIT CREATIVE'), local('Besom'),
    url('Besom.eot?#iefix') format('embedded-opentype'), url('Besom.woff') format('woff'),
    url('Besom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Besom-cyr';
  src: url('Besom-cyr.ttf');
  font-weight: normal;
  font-style: normal;
}
.text {
  color: #708ea7;
  
  @media (max-width: 768px) {
    text-align: left;
  }

  @media (max-width: 480px) {
    text-align: left;
  }
}
.animated_text {
  stroke-dasharray: 519;
  stroke-dashoffset: 519;
  animation: sign 2s ease;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.text-2 {
  color: #9e7960;
  @media (max-width: 768px) {
    text-align: left;
  }

  @media (max-width: 480px) {
    text-align: left;
  }
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 50px;

  font-family: 'Besom-2';
  vertical-align: baseline;
}

#two {
  overflow: hidden;
  /* padding: 3vw 15vw 10vw; */
  /* background: linear-gradient(0deg, #69b7bf 25%, #ffe664); */
}

.line-stars {
  width: 1rem;
  height: 1px;
  margin: 10px;
  background-color: white;
}
.line-stars-2 {
  width: 1.2rem;
  height: 1px;
  margin: 10px;
  background-color: white;
}
.line-stars-3 {
  width: 0.5rem;
  height: 1px;
  margin: 10px;
  background-color: white;
}
.vertical {
  position: absolute;
  top: 20px;
  right: 0px;
}
.fly {
  position: absolute;
  width: 100%;
}
