/**
 * Макет и структура страницы
 * Контейнеры, секции, сетка
 */

/* ===== ОСНОВНОЙ КОНТЕЙНЕР ===== */
.portfolio-container {
  max-height: 100dvh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.portfolio-container::-webkit-scrollbar {
  width: 0;
}

/* ===== СЕКЦИИ ===== */
.portfolio-section {
  height: 100dvh;
  overflow: hidden;
  scroll-snap-align: start;
}

/* ===== СЕКЦИЯ ПРИВЕТСТВИЯ ===== */
.hero-section {
  background: linear-gradient(180deg, rgba(14, 27, 33, 1) 0%, rgba(16, 41, 48, 1) 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

/* ===== СЕКЦИЯ ПРОЕКТОВ ===== */
.projects-section {
  background: linear-gradient(180deg, rgba(16, 41, 48, 1) 0%, rgb(16 42 51) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100dvh;
  position: relative;
}

/* ===== СЕКЦИЯ ОБРАЗОВАНИЯ ===== */
.education-section {
  background: linear-gradient(180deg, rgb(16 42 51) 0%, rgb(19 50 60) 100%);
}

/* ===== СЕКЦИЯ ТЕХНОЛОГИЙ ===== */
.technologies-section {
  background: linear-gradient(180deg, rgb(19 50 60) 0%, rgb(16 42 51) 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

/* ===== СЕКЦИЯ КОНТАКТОВ ===== */
.contact-section {
  background: linear-gradient(180deg, rgb(16 42 51) 0%, rgb(19 50 60) 100%);
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: inherit;
  align-items: center;
  position: relative;
}

/* ===== ЗАГОЛОВКИ СЕКЦИЙ ===== */
.section-title {
  text-align: center;
}

/* ===== КОНТЕЙНЕР ПРОЕКТОВ ===== */
.projects-container {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  padding: 20px;
}

.projects-grid {
  display: flex;
  gap: 20px;
  padding: 0 5vw;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
  scrollbar-width: thin;
  scrollbar-color: #973faf transparent;
}

/* Стилизация скроллбара проектов */
.projects-grid::-webkit-scrollbar {
  width: 6px;
}

.projects-grid::-webkit-scrollbar-thumb {
  background-color: #973faf;
  background: url('../assets/images/ui/scroll-planet.png');
  border-radius: 3px;
}
